body{
    background-color: gray;
    background-image: url("../images/Unknown.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h1 {
    color: gray;
    font-size:xx-large;
}

h2{
    color: gray;
    font-size:xx-large;
    
}

p{
    color: gray;
    font-size: xx-large;
}

.centre-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}